configstore
github-copilot
iterm2
!lazygit/config.yml
lazygit
*.bak
*.netrwhist
tmux/plugins
helm
yarn
argocd
nvm
nvim-old
ngrok
htop
op
credstash.log
gh/hosts.yml
gh/config.yml
act
wslu/*
uv/*
posting/*
posting
opencode/dot-config/opencode/agent/enforcer.md
